html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    /* background: whitesmoke; */
}

/* Display */
.calculator {
    background: white;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px  rgba(0, 0, 0,0.6);
}

.calculator-display {
    background: black;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
    margin: 0;
    padding: 25px;
    font-size: 45px;
    font-family: 'Lucida Console',sans-serif;
    font-weight: 100;
    overflow-x: auto;

     
}
  /* Custom scrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 3px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    border-radius: 3px;
  }


  /* buttons */
  .calculator-buttons {
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 10px;
     padding: 10px;
  }

  button {
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background: #8edcf8;

  }

  button:hover {
    filter: brightness(110%);
  }

  button:active {
    transform: translateY(2px);
  }

  button:focus {
    outline:none ;
  }

  .operator {
    background: #06afed;
    color: white;
    font-size: 30px;
  }

  .clear {
    background: rgba(255, 0, 0, 0.9);
    color: #ffffff;
    font-weight: 300;
    font-size: 1.5rem;
    
  }

  .clear:hover{
    filter: brightness(90%);
  }


  .equal-sign {
     grid-column: -2;
     grid-row: 2 /span 4;
     background: rgb(13, 206, 87);

  }

  /* Media Query: Large Smartphone (Vertical) */

  @media screen and (max-width: 600px) {

    .calculator {
        width: 94%;
    }
    
  }